// définition des couleurs du thème (les variables fonctionne avec scss)
// Couleur des fonds :
$background-color: #1b1b1e;
$form-background: #151516;
$background-extern: #141317;
// Couleur des textes :
$text-color: #cbd5e1;
// Couleur des liens :
$link-color: #ef4444;
// Fond des colonnes et bordures
$nav-background: #1c1c20;
$nav-border: #333;

// Couleur des compétences (html, tailwind, ect):
$skill-background: #2a2a2a;
$skill-border: #444;
$skill-text-color: #ccc;
// Police
// Principale
$font-family-base: 'Segoe UI', Tahoma, Verdana, sans-serif;
// Date
$font-date : 'Times New Roman', Times, serif;
// Police bulle avatar
$font-bulle: 'Monospace', monospace;

// Couleur rouge vif (accentuation)
$rouge-vif: #ef4444;