// définition des couleurs du thème (les variables fonctionne avec scss)
// Couleur du fond :
$background-color: #1b1b1e;
// Couleur des textes :
$text-color: #cbd5e1;
// Couleur des liens :
$link-color: #ef4444;
// Fond des colonnes et bordures
$nav-background: #141416;
$nav-border: #333;

// Couleur des compétences (html, tailwind, ect):
$skill-background: #2a2a2a;
$skill-border: #444;

// Police principale
$font-family-base: 'Segoe UI', Tahoma, Verdana, sans-serif;

// Couleur rouge vif (accentuation)
$rouge-vif: #ef4444;