// fichier sommaire du css des pages

// Imports
@import "colors";
@import "contact";
@import "projects";

// toujours veiller à mettre les tirets pour jekyll

body {
    font-family: $font-family-base;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
}

// Liens
a {
    text-decoration: none;
    color: $link-color;
    font-weight: bold;
}

// Hover des liens
a:hover {
    text-decoration: underline;
}

// Liens nav
nav a {
    display: block;
    color: #888;
    padding: 12px 0;
    border-bottom: 1px solid #222;

}
// Hover pour les liens nav
nav a:hover {
    color: $rouge-vif;
    transition: 0.2s;
    padding-left: 8px;
}

// Titre
h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    margin-top: 0;
}

/////////////////////////////
// STRUCTURE DU PORTFOLIO
/////////////////////////////

// Photo de profil
.profil-perso {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    border: 2px solid $rouge-vif;
    // pour pas quil ne déplace du rond
    overflow: hidden;
}

.profil-perso img {
    // évite les espaces blancs
    display: block;
    width: 100%;
    height: 100%;
    //remplit tout le conteneur sans déformer l'image
    object-fit: cover;
}

// Container structure de base en flex
// ici display flex pour avoir les 3 colonnes horizontalement
.container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
}

.container img{
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

// Colonne de gauche
.colonne-gauche {
    background: $nav-background;
    padding: 30px;
    border-right: 1px solid $nav-border;
    width: 260px;
    position: sticky;
    top: 0;
    height: 100vh;
    // modif à faire
    // sticky permet aux colonnes de gauche/droite de rester fixe
    // lors du scroll
    box-sizing: border-box;
    // box sizing pour le padding dans la largeur
}


// Contenu principal
.contenu-principal {
    flex-grow: 1;
    max-width: 800px;
    padding: 40px;
}

// Contenu de droite
.colonne-droite {
    border-left: 1px solid $nav-border;
    background: $nav-background;
    padding: 30px;
    border-right: none;
    width: 260px;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}

// Titre et compétence
.titre-skills {
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid $rouge-vif;
    padding-bottom: 5px;
}

.sk {
    background: $skill-background;
    font-size: medium;
    margin: 3px;
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid $skill-border;
    border-radius: 4px;
    // WARNING taille à 
    color: #eee;
}

// Liens réseaux
.reseaux ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reseaux li {
    margin-bottom: 10px;
}

// changer la couleur des liens
.reseaux a {
    display: flex;
    align-items: center;
    color: $rouge-vif;
}


// footer à faire
// responsive à faire


//////////////////////////////////
/// RESPONSIVE
//////////////////////////////////


// Format tablettes & petits écrans
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .colonne-gauche, .contenu-principal, .colonne-droite {
        width: 100%;
        // toute la largeur
        height: auto;
        // sadapte au contenu
        position: relative;
        // retire le sticky
        border: none;
    }

    // ajout bordure entre les sections
    .colonne-gauche {
        border-bottom: 1px solid #333;
        text-align: center;
        padding: 20px;
    }
    .colonne-droite {
        border-top: 1px solid #333;
        padding: 20px;
    }
}