// structure général du site
// * passe au dessus de tout
* {
    box-sizing: border-box;
}


body {
    display: block;
    font-family: $font-family-base;
    background-color: $background-extern;
    color: $text-color;
    margin: 0;
}

// Liens
a {
    text-decoration: none;
    color: $link-color;
    font-weight: bold;
}

// Hover des liens
a:hover {
    text-decoration: underline;
}

// Liens nav
nav a {
    display: block;
    color: #888;
    padding: 12px 0;
    border-bottom: 1px solid #222;
    transition: 0.3s;

}
// Hover pour les liens nav
nav a:hover {
    color: $rouge-vif;
    transition: 0.3s;
    padding-left: 8px;
}

// Titre
h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    margin-top: 0;
}

/////////////////////////////
// STRUCTURE DU PORTFOLIO
/////////////////////////////

// Photo de profil
.profil-perso {
    position: relative;
    // position
    margin: 100px auto 20px auto;
    width: 180px;
    text-align: center;
    cursor: pointer;
    // rond coloré derriere avatar
    background-color: #ed0000;
    border-radius: 50%;
}

#avatar {
    // évite les espaces blancs
    display: block;
    width: 100%;
    height: auto;    
}


// Bulle avatar
.bulle-avatar {
    position: absolute;
    // placement au dessus de l'image
    bottom: 100%;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 0.9em;
    // au dessus de tout
    z-index: 10;
    font-family: $font-bulle;
    // par defaut pour lanimation
    transform: translateX(-50%) scale(0.60);
    // animation commence a la tete
    transform-origin: bottom center;
    color: transparent;
    // transform = la taille, effet 0.4 = elastique, color pour que les ... disparaissent
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55), color 0.1s ease-out;
}

// "..." dans la bulle
.bulle-avatar::before{
    // affiche
    content: "...";
    position: absolute;
    left: 50%;
    top: 50%;
    // positionnement
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    // centre verticale
    line-height: 0;
    font-size: 2em;
    // pour faire disparaitre
    transition: opacity 0.2s ease-in 0.1s;
}

// pour faire disparaitre les "..."
.profil-perso:hover .bulle-avatar::before {
    opacity: 0;
    // ... disparait direct dès hover
    transition: opacity 0.05s ease-out;
}

// Animation hover avatar + bulle
.profil-perso:hover .bulle-avatar {
    // monte et grossit
    transform: translateX(-50%) translateY(-10px) scale(1);
    // changement de couleur
    background-color: white;
    color: black;
    // pour lanimation de retour
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.262, 1.55), color 0.2s ease-in 0.1s;

}

// Queue de la bulle
.bulle-avatar::after {
    content: "";
    position: absolute;
    // positionnement bas de bulle
    top: 100%;
    left: 50%;
    // transform pour centrer la queue
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    // transparent pour les 3 autres côtés
    border-color: white transparent transparent transparent;
}



// Container structure de base en flex
// ici display flex pour avoir les 3 colonnes horizontalement
.container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
}

.container img{
    display: block;
    max-width: 100%;
    height: auto;
}

// Colonne de gauche
.colonne-gauche {
    // shrink garanti quil garde son width
    flex-shrink: 0;
    // sur petit ecran garanti le scroll du menu
    overflow-y: auto;
    background: $nav-background;
    padding: 30px;
    border-right: 1px solid $nav-border;
    width: 260px;
    position: sticky;
    top: 0;
    height: 100vh;
    // modif à faire
    // sticky permet aux colonnes de gauche/droite de rester fixe
    // lors du scroll
    box-sizing: border-box;
    // box sizing pour le padding dans la largeur
}


// Contenu principal
.contenu-principal {
    flex-grow: 1;
    max-width: 800px;
    padding: 40px;
    background-color: $background-main;
}

// Contenu de droite
.colonne-droite {
    // shrink garanti quil garde son width
    flex-shrink: 0;
    // sur petit ecran garanti le scroll du menu
    overflow-y: auto;
    border-left: 1px solid $nav-border;
    background: $nav-background;
    padding: 100px 30px 30px 30px;
    border-right: none;
    width: 260px;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}

// Titre et compétence
.titre-skills {
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid $rouge-vif;
    padding-bottom: 5px;
}

.sk {
    background: $skill-background;
    font-size: medium;
    margin: 3px;
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid $skill-border;
    border-radius: 4px;
    // WARNING taille à 
    color: #eee;
}

// Liens réseaux
.reseaux ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reseaux li {
    margin-bottom: 10px;
}

// changer la couleur des liens
.reseaux a {
    display: flex;
    align-items: center;
    color: $rouge-vif;
}


// footer à faire
// responsive à faire


//////////////////////////////////
/// RESPONSIVE
//////////////////////////////////


// Format tablettes & petits écrans
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }


    .container {
        flex-direction: column;
    }

    .colonne-gauche, .contenu-principal, .colonne-droite {
        width: 100%;
        // toute la largeur
        height: auto;
        // sadapte au contenu
        position: relative;
        // retire le sticky
        border: none;
    }

    // ajout bordure entre les sections
    .colonne-gauche {
        border-bottom: 1px solid #333;
        text-align: center;
        padding: 20px;
    }
    .colonne-droite {
        border-top: 1px solid #333;
        padding: 20px;
    }
}