body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #1b1b1e;
    color: #cbd5e1;
    margin: 0;
}

// Liens
a {
    text-decoration: none;
    color: #ef4444;
    font-weight: bold;
}

// Hover des liens
a:hover {
    text-decoration: underline;
}

// Liens nav
nav a {
    display: block;
    color: #888;
    padding: 12px 0;
    border-bottom: 1px solid #222;

}
// Hover pour les liens nav
nav a:hover {
    color: #ef4444;
    transition: 0.2s;
    padding-left: 8px;
}

// Titre
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin-top: 0;
}

/////////////////////////////

// Photo de profil
.profil-perso {
    background: #333;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    border: 2px solid #ef4444;
}

// Container structure de base en flex
.container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
}

// Colonne de gauche
.colonne-gauche {
    background: #141416;
    padding: 30px;
    border-right: 1px solid #333;
    width: 260px;
    position: sticky;
    top: 0;
    height: 100vh;
    // modif à faire
}

// Contenu principal
.contenu-principal {
    flex-grow: 1;
    max-width: 800px;
    padding: 40px;
}

// Contenu de droite
.colonne-droite {
    border-left: 1px solid #444;
    background: #141416;
    padding: 30px;
    border-right: none;
    width: 260px;
    position: sticky;
    top: 0;
    height: 100vh;
}

// Titre et compétence
.titre-skills {
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid #ef4444;
    padding-bottom: 5px;
}

.sk {
    background: #2a2a2a;
    font-size: medium;
    margin: 3px;
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #444;
    border-radius: 4px;
    // WARNING taille à vérifier
}

// Liens réseaux
.reseaux {
    list-style: none;
    padding: 0;
}
.reseaux li {
    margin-bottom: 10px;
}


// footer à faire
// responsive à faire